<?xml version="1.0"?>

<model>
  <name>RoboCup SSL Goal</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>KSRBI-B</name>
    <email>krsbiberodaitb@gmail.com</email>
  </author>

  <description>
    A RoboCup Standard Platform League goal according to 2014 rules.
  </description>
</model>
